.kb-body-modal {
  text-align: center;
  margin: auto;
}

.kb-body-modal h1 {
  color: #56af31;
}
.kb-body-modal h2 {
  color: #56af31;
  padding-top: 10px;
}

.kbinfo p {
  font-size: 17px;
  color: grey;
}

.kbps p {
  font-size: 15px;
  font-weight: bold;
  color: grey;
}
